*
{
    margin: 0;
    padding: 0;
}

/* Disable overscroll/elastic bounce */
html,
body {
    overscroll-behavior: none; /* modern browsers incl. Safari 16.4+ */
}

/* html,
body
{
    overflow: hidden;
} */

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.body {
    background-color: black;
}


.section
{
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
    text-transform: uppercase;
    font-size: 7vmin;
    padding-left: 10%;
    padding-right: 10%;
    .background {
        background-color: black;
    }
}

section:nth-child(odd)
{
    justify-content: flex-end;
}